<%= form_for(task) do |f| %>

  <p>
    <%= label_tag(:name, 'Name') %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= label_tag(:description, 'Description') %>
    <%= f.text_area :description %>
  </p>
  
  <%#= binding.pry %>
  <p>
    <%= select_tag 'parent_task_id', options_from_collection_for_select(@user_tasks, 'id', 'name'), prompt: task[3].name  %>
    <%= f.select(:parent_task_id, options_for_select(

      
      @user_tasks.map{|i| [i.id.to_s, i.name] }
      
      
      )) %>

  </p>

  <p class="actions">
    <%= f.submit %>
  </p>
<% end %>
